.jumbotron {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(44,52,80,0.5), rgba(44,62,80,0.5)), url('/static/pics/jumbo-background.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
}

#lol {
    margin-left: -50px;
}

.thumb {
    margin-bottom: 30px;
}

.thumb > .thumbnail > .img-responsive {
    height: 242px;
}

.caption > h3 {
    text-align: center;
}

.caption-descriptor {
    border-color: #eeeeee;
    border-width: 3px;
    border-style: solid;
    margin: -5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}

.btn-center {
    text-align: center;
}

/* Mobile */
@media screen and (max-height: 767px){
    .jumbotron {
        height: 250px;
    }

    .jumbotron > h1 {
        margin-top: 80px;
    }
}
/* Tablet */
@media screen and (max-height: 1100px) and (min-height: 768px) {
    .jumbotron {
        height: 500px;
    }
}