<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='style/base.css') }}" rel="stylesheet">

        {% block head %}
        {% endblock %}

    </head>

    <body>
        <nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Mathias" id=brand-logo src="{{ url_for('static', filename='pics/logo.png') }}">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Home</a>
                        </li>
                            <li><a href="/products">Products</a>
                        </li>
                            <li><a href="/about-us">About Us</a>
                        </li>
                            <li><a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <hr>
        <footer>
            <div class="col-lg-12">
                <p>Copyright &copy; Mathias Thusholt 2016</p>
            </div>
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='script/jquery-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>