<head>
    <title>Hej</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>
    <div style="margin-left: 500px; margin-right: 500px;">
        <div class="row">
            {% for img in images %}
                    <div class="col-xs-6 col-md-4" data-toggle="modal" data-target="myModal">
                        <a href="/static/screenshot/{{ img }}" class="thumbnail">
                            <img src="/static/screenshot/{{ img }}" style="height: 190px;"/>
                        </a>
                    </div>

            {% endfor %}
        </div>
    </div>
</body>