body {
    padding: 0; !important
}

.jumbotron {
    text-align: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(44,52,80,0.5), rgba(44,62,80,0.5)), url('/static/pics/jumbo-background.jpg');
    background-size: cover;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.thumb {
    margin-bottom: 30px;
}

.thumb > .thumbnail > .img-responsive {
    height: 242px;
}

.caption > h3 {
    text-align: center;
}

.caption-descriptor {
    border-color: #eeeeee;
    border-width: 3px;
    border-style: solid;
    margin: -5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}

.btn-center {
    text-align: center;
}

/* Mobile */
@media (min-width:320px) {
    .jumbotron {
        height: 250px;
    }

    .jumbotron > h1 {
        margin-top: 80px;
    }
}
/* Tablet */
@media (min-width:801px) {
    .jumbotron {
        height: 500px;
    }
}

@media (min-width:1281px) {
    .jumbotron {
        height: 800px;
    }
}