{% extends 'base.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='style/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Velkommen til mit studieweb!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Seneste projekter</h1>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 thumb">
                <div class="caption">
                    <h3>Projekt 1</h3>
                </div>
                <a class="thumbnail" href="{{ url_for('static', filename='pics/placeholder.svg') }}">
                    <img class="img-responsive"  src="{{ url_for('static', filename='pics/placeholder.svg') }}">
                </a>
                <div class="caption caption-descriptor">
                    <p>{{ ipsum }}</p>
                    <p class="btn-center"><a href="#" class="btn btn-primary" role="button">Læs mere</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 thumb">
                <div class="caption">
                    <h3>Projekt 2</h3>
                </div>
                <a class="thumbnail" href="{{ url_for('static', filename='pics/placeholder.svg') }}">
                    <img class="img-responsive"  src="{{ url_for('static', filename='pics/placeholder.svg') }}">
                </a>
                <div class="caption caption-descriptor">
                    <p>{{ ipsum }}</p>
                    <p class="btn-center"><a href="#" class="btn btn-primary" role="button">Læs mere</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 thumb">
                <div class="caption">
                    <h3>Projekt 3</h3>
                </div>
                <a class="thumbnail" href="{{ url_for('static', filename='pics/placeholder.svg') }}">
                    <img class="img-responsive"  src="{{ url_for('static', filename='pics/placeholder.svg') }}">
                </a>
                <div class="caption caption-descriptor">
                    <p>{{ ipsum }}</p>
                    <p class="btn-center"><a href="#" class="btn btn-primary" role="button">Læs mere</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 thumb">
                <div class="caption">
                    <h3>Projekt 4</h3>
                </div>
                <a class="thumbnail" href="{{ url_for('static', filename='pics/placeholder.svg') }}">
                    <img class="img-responsive"  src="{{ url_for('static', filename='pics/placeholder.svg') }}">
                </a>
                <div class="caption caption-descriptor">
                    <p>{{ ipsum }}</p>
                    <p class="btn-center"><a href="#" class="btn btn-primary" role="button">Læs mere</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
        </div>
    </div>
{% endblock %}