{% from '_formhelpers.html' import render_field %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='style/login.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block head %}
        {% endblock %}

    </head>

    <body>
        <div id="login">
            <div id="loginform">
                <a href="/"><img src="{{ url_for('static', filename='pics/banner.png') }}"></a>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}

                <form method="post">
                    {{ form.csrf_token }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>